p {
  font-size: 40px;
}

.robot {
  position: absolute;
  left: 15%;
  width: 350px;
  height: auto;
}

body {
background-color: black;
color:#00ff41;
text-align: center;
font-family: monospace;
font-style:initial;
font-weight: bold;
}

#input-paragraph {
  position: relative;
  border: double white 1px;
  width: auto;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

input[type=text] {
  background-color: black;
  color: white;
}

.btn-outline-dark {
  border: solid white 1px;
  background-color: #00ff41;
  color: black;
  margin-bottom: 30 px;
}

#output-paragraph {
  position: relative;
  width: auto;
  display: none;
  border: solid white 2px;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.greenText {
  color: #008F11;
}


.whiteText {
  color: white;
}