p {
  font-size: 40px;
}

.robot {
  position: absolute;
  width: auto;
  height: auto;
  margin: 250px;
}

body {
background-color: black;
color:#00ff41;
text-align: center;
font-family: monospace;
font-style:initial;
font-weight: bold;
}

#input {
  background-color: black;
  color: white;
}

#input-paragraph {
  position: relative;
  border: solid white 2px;
  width: auto;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-outline-dark {
  margin-bottom: 30 px;
}

#output-paragraph {
  width: auto;
  display: none;
  border: solid white 2px;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}