body {
text-align: center;
font-family: monospace;
font-style:initial;
font-weight: bold;
}

#input-paragraph {
  border: solid black 2px;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-outline-dark {
  margin-bottom: 30 px;
}

#output {
  display: none;
  border: solid black 2px;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}